<div class="page">
    <div class="page-header">
        <h1 class="page-header-text">Get in touch.</h1>
        <div class="page-header-hr"></div>
    </div>
    <div class="contact panel">
        <div class="contact-header">
            <p class="contact-description">Interested in commissioning a burning? Send a message and we can discuss what you have in mind.</p>
        </div>

        <form class="contact-form" [formGroup]="contact">
            <div class="contact-input">
                <md-input-container>
                    <input mdInput placeholder="Name"
                        formControlName="name" autocomplete="off" />
                </md-input-container>
            </div>
            <div class="contact-input">
                <md-input-container>
                    <input mdInput placeholder="Email" type="email"
                        formControlName="email" autocomplete="off" />
                </md-input-container>
            </div>
            <div class="contact-input">
                <md-input-container>
                    <input mdInput placeholder="Subject"
                        formControlName="subject" autocomplete="off" />
                </md-input-container>
            </div>
            <div class="contact-input">
                <md-input-container>
                    <textarea rows="4" mdInput placeholder="Message"
                        formControlName="message"></textarea>
                </md-input-container>
            </div>
        </form>

        <div class="contact-submit">
            <button class="btn btn-primary btn-raised" (click)="sendMessage()">Send</button>
        </div>
    </div>
</div>
